.container{
    display: flexbox;
    border: 2px solid black;

    padding: 10px;
}
.h1{
    font-size: 45px;
    text-align: center;
    padding: 15px;
    

}
.column-names{
    display: grid;
    grid-template-columns: 125px 300px 150px 150px 150px;
    padding-left: 15px;
    font-size: 20px;
}
.column-name1{
   
    text-align: center;
    
}
.column-name2{
   
    text-align: center; 
}
.column-name3{
   
    text-align: center; 
}
.column-name4{
    
    text-align: center;
}
.class-sheet{
    display: grid;
    grid-template-columns: 125px 300px 150px 150px 150px;
    
    border-left: 2px solid black;
    border-right: 2px solid black;

}


.ID-class{
    font-size: 20px;
    text-align: center;
   
    border: 2px solid black;

}
.name-class{
    font-size: 20px;
    text-align: center;
    border: 2px solid black;

}
.credit-class{
    font-size: 20px;
    text-align: center;
    border: 2px solid black;

}
.sat-class{
    font-size: 20px;
    text-align: center;
    border: 2px solid black;

}

.button1{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding-top: 15px;
    padding-left: 15px;
    transform: translateX(60px);
}